mirrors:
  "docker.io":
    endpoint:
      - "{{ aliyuncs.mirror }}"
      - "https://registry-1.docker.io"
  "registry.cn-beijing.aliyuncs.com":
    endpoint:
      - "https://registry.cn-beijing.aliyuncs.com"
  "registry.cn-hongkong.aliyuncs.com":
    endpoint:
      - "https://registry.cn-hongkong.aliyuncs.com"
  "registry.cn-hangzhou.aliyuncs.com":
    endpoint:
      - "https://registry.cn-hangzhou.aliyuncs.com"
  "registry.ap-southeast-1.aliyuncs.com":
    endpoint:
      - "https://registry.ap-southeast-1.aliyuncs.com"
{% if registries_private | bool %}
  "{{ registries_private_info.url }}":
    endpoint:
      - "{{ registries_private_info.ep }}"
{% endif %}
configs:
  "registry.cn-beijing.aliyuncs.com":
    auth:
      username: "{{ aliyuncs.username }}"
      password: "{{ aliyuncs.password }}"
  "registry.cn-hongkong.aliyuncs.com":
    auth:
      username: "{{ aliyuncs.username }}"
      password: "{{ aliyuncs.password }}"
  "registry.cn-hangzhou.aliyuncs.com":
    auth:
      username: "{{ aliyuncs.username }}"
      password: "{{ aliyuncs.password }}"
  "registry.ap-southeast-1.aliyuncs.com":
    auth:
      username: "{{ aliyuncs.username }}"
      password: "{{ aliyuncs.password }}"
{% if registries_private | bool %}
  "{{ registries_private_info.url }}":
    auth:
      username: "{{ registries_private_info.username }}"
      password: "{{ registries_private_info.password }}"
    tls:
      insecure_skip_verify: {{ registries_private_info.insecure | bool | lower }}
{% endif %}